body{
}

#top{
	background-color: #aaf1c3;
	height: 400px;
	width: 1100px;
	margin: 0px;
}

#circle1{
	background-blend-mode: transparent 
	height: 100px;
	width: 125px;
	margin-left: 200px;
	margin-top: 200px;
}

#circle2{
	background-blend-mode: transparent 
	height: 100px;
	width: 125px;
	margin-left: 400px;
	margin-top: 200px;
}

#circle3{
	background-blend-mode: transparent 
	height: 100px;
	width: 125px;
	margin-right: 100px;
	margin-top: 225px;
}

Yukio{
	background-blend-mode: transparent
	height: 150px;
	width: 300px;
	margin-left: 150px;
	margin-bottom: 500px;
}
